/* .footer_main{
    background-color: blue;
}


@media  (max-width: 800px) {
    .footer_main{
        background-color: aqua;
    }

    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: blueviolet;
        align-items: start;
    }
} */
/* 
.footer_main {
  background-color: #020B26ff;
  padding: 20px;
  color: white;
} */

/* .footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
} */
/* 
.footer_HAC {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .footer_item {
  cursor: pointer;
  margin: 0;
} */

/* .all_logos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
} */

/* .logo {
  cursor: pointer;
} */

/* @media (max-width: 800px) {
  .footer_content {
    flex-direction: column;
    align-items: center;
  }

  .footer_item {
    text-align: center;
  }
} */



.footer_main {
    background-color: #020B26ff;
    padding: 20px;
    color: white;
  }
  
  .footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer_HAC {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer_item {
    cursor: pointer;
    margin: 0;
  }
  
  .all_logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .logo {
    cursor: pointer;
    height: 20px;
  }
  
  @media (max-width: 800px) {
    .footer_content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer_item {
      text-align: center;
    }
  }
  