.contact_us_main{
    height: 88.5vh;
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.input_field{
    border-radius: 4px; 
    max-width: 40%;
    padding: 8px;
    margin-bottom: 16px; 
}

.contact_us_content{
    height: 74.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.label_and_input {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input_field_message{
    /* display: flex;
    margin: 8px;
    border-radius: 4px; 
    padding: 8px;
    margin-bottom: 16px; 
    height:"100px",  */
    border-radius: 8px;
   width: 300px;
    padding: 8px;
    margin: 16px 0px;
    height: 100px;
    resize: vertical;
}

.submit_button {
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 0;

}