.contact_us_main{
    /* max-width: 70%; */
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.image-container {
    flex: 1;
    margin-right: 30px;
  }
  
.image-container img {
    max-width: 100%;
    height: auto;
}

.input_field{
    border-radius: 4px; 
    padding: 8px;
    margin-bottom: 16px; 
}

.contact_us_content{
    flex: 1;
}

.label_and_input {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input_field_message{
    border-radius: 8px;
    padding: 8px;
    margin: 16px 0px;
    height: 100px;
    resize: vertical;
}

.submit_button {
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 103%;
    padding: 12px 0;
}