/* SignupForm.css */
.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 16px); /* Subtract padding to maintain consistent width */
    margin-bottom: 8px;
  }
  
  .signup-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  