.how_it_works_main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
 
.how_it_works_bullet{
    display: flex;
    flex-direction: column;
}


.how_to_works_cards {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 100px;
    /*
    

  
    width: 100%;
    margin: 10px 20px;
    display: flex;
    flex-direction: row; */

        /* height: 100vh; */
}

@media (max-width: 800px) {

    .how_it_works_main{
    }

    .how_it_works_bullet{
    
        display: flex;
    }

    .how_to_works_cards {

        display: flex;
        flex-wrap: wrap;  
        align-items: center; 
        justify-content: center; 
        background-color: rgb(0, 0, 0);
        padding: 0px;
        margin:  0 15px;
    }
}