
  
  .about_us_image-column {
    flex: 1;
    margin-right: 30px; /* Adjust as needed */
  }
  
  .about_us_image-column {
    max-width: 100%;
    height: auto;
  }
  
  .content-container {  
    margin: 0 80px ;
    flex: 1;
  }
  
  .about_us_container {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
  
  
.about_us_image-column,
.about_us_content-container {
    max-width: 50%;
    text-align: start;
    display: flex; 
    margin: 0 10px;
    min-width: 15%;
    flex-direction: column; 
    align-items: center;
  }

  .about_us_image{
    width: 40%;
  }

  
  @media (max-width: 800px) {
    .about_us_container {
     
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100vw;
      }

      .about_us_image{
        width: 80%;
      }

      .about_us_image-column{
      
 
        align-items: center;
        justify-content: center;
      }
    
   
      .about_us_content-container {
        max-width: 100%; 
        text-align: center;
      }
  }
  